dist: xenial
language: python
python:
  - "3.7"

services:
  - docker
addons:
  chrome: stable
  
branches:
  only:
  - master

before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install:
  - pip install -r requirements.txt

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start  
  
script: 
  - make build
  - bash docker-push.sh
