{% extends 'base_generic.html' %}
{% load static %}
{% block title %}
<title>Nouveau point</title>
{% endblock %}

{% block scripts %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src="{% static 'js/carteAjoutPE.js' %}"></script>
<link href="{% static 'css/mapStyle.css' %}" rel="stylesheet">
<script src="{% static 'js/currentLocPE.js' %}"></script>
<script>window.onload = function(){
    fixerLocalisationCourante({{ form.lat.id_for_label|safe }}, {{ form.long.id_for_label|safe }});
    token = "{{ mapboxToken|safe }}"
    addMap({{ form.lat.id_for_label|safe }}, {{ form.long.id_for_label|safe }}, token);};</script>
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row justify-content-center">
                <h1> Nouveau point d'eau </h1>
            </div>
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert"> {{ form.non_field_errors.as_text }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-xs-6 col-md">
                        <label for="{{ form.nom.id_for_label }}">Nom</label>
                        <input type="text" name="{{ form.nom.name }}" class="form-control {% if form.nom.errors %}is-invalid{% endif %}" id="{{ form.nom.id_for_label }}" placeholder="Fontaine VH">
                        {% if form.nom.errors %}<div class="invalid-feedback">{{ form.nom.errors.as_text }}</div>{% endif %}
                    </div>
                    <div class="form-group col-xs-6 col-md">
                        <label for="{{ form.lat.id_for_label }}">Latitude</label>
                        <input type="text" class="form-control {% if form.lat.errors %}is-invalid{% endif %}" name="{{ form.lat.name }}" id="{{ form.lat.id_for_label }}" placeholder="41.657">
                        {% if form.lat.errors %}<div class="invalid-feedback">{{ form.lat.errors.as_text }}</div>{% endif %}
                    </div>
                    <div class="form-group col-md">
                            <label for="{{ form.long.id_for_label }}">Longitude</label>
                            <input type="text" class="form-control {% if form.long.errors %}is-invalid{% endif %}" name="{{ form.long.name }}" id="{{ form.long.id_for_label }}" placeholder="42.00998">
                            {% if form.long.errors %}<div class="invalid-feedback">{{ form.long.errors.as_text }}</div>{% endif %}
                    </div>

                </div>
                <div class="form-group">
                    <label for="{{ form.desc.id_for_label }}">Description</label>
                    <textarea type="text" class="form-control {% if form.desc.errors %}is-invalid{% endif %}" name="{{ form.desc.name }}" id="{{ form.desc.id_for_label }}" placeholder="Une jolie fontaine où il est possible de s'abreuver sans modération !" rows="4"></textarea>
                    {% if form.desc.errors %}<div class="invalid-feedback">{{ form.desc.errors.as_text }}</div>{% endif %}
                </div>
                <div class="alert alert-info" role="alert">
                    Vous vous trouvez à côté du point d'eau ? Nous avons déjà mis les coordonnées pour vous 
                    <i class="em em-male-mechanic"></i>
                </div>
                <button type="submit" name="button" class="btn btn-primary">Créer</button>
            
            </form>
        </div>
        <div class="col-sm-6">    
            <div id='map'></div>
        </div>
    </div>
</div>
{% endblock %}