{% extends "base_generic.html" %}
{% load static %} 
{% block title %}<title>A propos - En cas de soif</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                    <h1>A propos d'En Cas de Soif</h1>
            <p>En cas de soif est une application web née au travers d'une étroite collaboration entre <a href="https://github.com/Matissou" target="blank">@Matissou</a> et <a href="https://github.com/Loic-R" target="blank">@Loic-R</a> vis-à-vis d'un simple constat : 
            <br>    
                <p> 
                    Lors d'une balade en extérieur, que les températures sont estivales et que les réserves d'eau sont critiques ; comment trouver un facilement et rapidement un endroit pour assouvir sa soif ou remplir sa bouteille d'eau ? Google ! Me répondrez vous ! He bien figurez vous que cela n'est pas si simple que cela ! Voyez par vous-même, essayez de rechercher "fontaine eau à Grenoble"... Vous allez vite vous rendre compte que les résultats retournés ne sont pas du tout à la hauteur de vos attentes voire totalement hors sujet ! 
                </p>
                <p>
                    C'est ici qu'intervient en cas de soif ! Une application web communautaire ou chacun peut apporter sa pierre à l'édifice en renseignant des points d'eau potable (ou non) de manière très intuitive sur une carte. Ainsi toute personne qui à besoin d'eau ou qui en trouve pourra profiter des services de cette application.
                </p>
                <p>On attend vos points d'eau ! Vous savez ce qu'il vous reste à faire !</p>
            </p>
        </div>
        </div>
    </div>
{% endblock %}