<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>En cas de soif</title>{% endblock %}
    {% block styles %} {% endblock %}
    {% block scripts %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <span class="navbar-brand" href="#">En Cas De Soif</span>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#ECDSnavbar" aria-controls="ECDSnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="navbar-collapse collapse" id="ECDSnavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Accueil<span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item {% if active == 'pointseau' %}active{% endif %} dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Points d'eau
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'newPE' %}">Ajouter</a>
                        <a class="dropdown-item" href="{% url 'listPE' %}">Modifier</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link disabled dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Points d'eau
                    </a>
                </li>
                {% endif %}
                <li class="nav-item {% if active == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about' %}">A propos</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav  my-2 my-md-0">
                <li class="nav-item {% if active == 'profile' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'view_profile' %}">Mon profil</a>
                </li>
            </ul>
            <ul class="navbar-nav  my-2 my-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                </ul>
            {% else %}
            <ul class="navbar-nav  my-2 my-md-0">
                <li class="nav-item {% if active == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'login' %}">Se connecter</a>
                </li>
            </ul>

            <ul class="navbar-nav  my-2 my-md-0">
                <li class="nav-item {% if active == 'register' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'register' %}">S'enregistrer</a>
                </li>
            </ul>
            {% endif%}

        </div>
    </nav>

    {% block content %}<!-- by default empty  -->{% endblock %}

    <!-- Load scripts at the end to be faster at loading -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
</body>
</html>